
# Coverage directory used by tools like istanbul
coverage/
*.lcov

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# dotenv environment variable files
.env
.env.*
!.env.example

# Next.js build output
.next
out
next-env.d.ts

# Turborepo
.turbo/

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
eggs/
.eggs/
*.egg-info

# PyInstaller
#   Usually these files are written by a python script from a template
#   before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache


# Environments
.venv
venv.bak/

# Abstra
#   Abstra is an AI-powered process automation framework.
#   Ignore directories containing user credentials, local state, and settings.
#   Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#   Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore
#   that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#   and can be added to the global gitignore or merged into this file. However, if you prefer,
#   you could uncomment the following to ignore the entire vscode folder
.vscode/*
!.vscode/launch.json
!.vscode/extensions.json

# Ruff stuff:
.ruff_cache/
