# Required by terraform to use S3 bucket
# for terraform state persistence
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=


### Terraform Variables ###

# DigitalOcean API access token
TF_VAR_do_token=

# Environment where KodaFluc will run
TF_VAR_environment=

# The slug of the region where kodaflux resources will be provisioned
TF_VAR_region=

# The Major version number of of the Postgres database to bee used
TF_VAR_postgres_version=

# The type of container registry where images will be pulled
TF_VAR_container_registry_type=

# The name of the container regitry where images will be pulled
TF_VAR_container_registry=

# The name of the repository where images live
TF_VAR_container_repository_name=

# The name of the backend service's container image
TF_VAR_backend_image_name=

# The URL to the repo where the frontend source code lives
TF_VAR_frontend_source_repo=

# Access key ID for DigitalOcean Spaces
TF_VAR_spaces_access_key_id=

# Secret key to access DigitalOcean Spaces
TF_VAR_spaces_secret_access_key=

# GitHub PAT to allow DigitalOcean to pull images from the registry
TF_VAR_container_registry_pat=

# The URL to the deployed Gradient ADK agent
TF_VAR_agent_url=
